body {
    margin-left: 10%;
    margin-top: 5em;
    margin-right: 10%;
    background: #eecb50;
}
h1 {
    font-family: Arial, sans-serif;
    color: #600;
    border-bottom: thin dotted black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#naslov {
    margin-left: 45%;
    margin-top: 5em;
    text-decoration: none;
    text-align: center;
    font-size: xx-large;
}
a{
    font-size: x-large;
}
a:link, a:visited {
    color: #4b4b4d;
}
a:hover {
    color: white;
    text-decoration: underline;
    background: #8f8f93;
}
img {
    border: thin solid black;
}